/*   color variables */

/*   light theme */
$clr-light-theme-black100: #000000;

$clr-light-theme-white100: #ffffff;

$clr-light-theme-gray100: #dbeaf64d;
$clr-light-theme-gray200: #908686;
$clr-light-theme-gray300: #463939;

$clr-light-theme-blue100: #323abb;
$clr-light-theme-blue200: #A1C5E1;

$clr-light-theme-orange100: #f76e33;
$clr-light-theme-orange200: #F54A00;


/*   dark theme */
$clr-dark-theme-black100: #030303;
$clr-dark-theme-black200: #1b1b1b;
$clr-dark-theme-black300: #252525;
$clr-dark-theme-black400: #303030;

$clr-dark-theme-gray100: #3b3b3b;
$clr-dark-theme-gray200: #2b2b2b;
$clr-dark-theme-gray300: #dbeaf64d;

$clr-dark-theme-white100: #f0f0f0;
$clr-dark-theme-white200: #e8e8e8;
$clr-dark-theme-white300: #d7d7d7;

$clr-dark-theme-purple100: #bb86fc;
$clr-dark-theme-purple200: #a75de1;
$clr-dark-theme-purple300: #9152d1;
$clr-dark-theme-purple400: #803ac7;
$clr-dark-theme-purple500: #8b008b;

$clr-dark-theme-yellow100: #eab51e;

$clr-dark-theme-blue100: #31aef3;
$clr-dark-theme-blue200: #339bd2;
$clr-dark-theme-blue300: #326c8d;
$clr-dark-theme-blue400: #2f92f0;
$clr-dark-theme-blue500: #44aefe;

$clr-dark-theme-green100: #1aba8d;
$clr-dark-theme-green200: #73ffe0;

$clr-dark-theme-orange100: #ff8976;
$clr-dark-theme-orange200: #ff554f;
